@model proyectoABMC.Models.Telefono

@{
    ViewData["Title"] = "Create";
}
<h1>Añadir telefono.</h1>

@{
    var aID = ViewContext.RouteData.Values["id"];
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NroTelefono" class="control-label"></label>
                <input asp-for="NroTelefono" class="form-control" />
                <span asp-validation-for="NroTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="PersonaID" class="form-control" asp-items="ViewBag.PersonaId" hidden></select>
                <span asp-validation-for="PersonaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a asp-action="Index" asp-route-id="@aID" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
